In [7]:
print("hello")

hello

In [29]:
phrase ="diya"
print(phrase)
print(phrase.lower())
print(phrase.upper())
print(phrase.upper().isupper())
print(len(phrase))
print(phrase[1])
print(phrase.index("d"))
print(phrase.index("diya"))
print(phrase.replace("diya","siya"))

diya
diya
DIYA
True
4
i
0
0
siya

In [65]:
print(10)
print(2.90)
print(-10)
print(10*10)
print(10+10-5)
print(10%3)
my_num=10
print(my_num)
my_num1=-10
print(abs(my_num1))#10 is absulute value of -10
print(pow(4,5))
print(max(4,6))
print(round(3.8))
print(min(4 ,6))

10
2.9
-10
100
15
1
10
10
1024
6
4
4

In [85]:
from math import *
my_num=10
print(round(4.5))
print(floor(10.3))
print(ceil(3.3))#always gives upper value 
print(sqrt(25))

4
10
4
5.0

In [97]:
#getting info
name = input("enter your name : ")
age = input("enter your age : ")
print("hello " +name +"! you are " +age)

enter your name :  do
enter your age :  20

hello do! you are 20

In [115]:
#basic calculator
num1 =input ("enter a number :")
num2 =input ("enter another number :")
result= float(num1)+ float(num2)
print(result)

enter a number : 2.3
enter another number : 2

4.3

In [123]:
#mad libs game
color = input ("enter a color")
plural_noun =input("enter a plural noun: ")
celebrity = input("enter a celebrity: ")
print("roses are "  + color)
print(plural_noun + " is  blue")
print("i love " + celebrity)

enter a color red
enter a plural noun:  violet
enter a celebrity:  salman

roses are red
violet is  blue
i love salman

In [149]:
#list
friends=["pooja","siya","nilofer"]
print(friends)
print(friends[0])
print(friends[-1])
print(friends[0:])
friends[2] = "nilu"
print(friends[2])

['pooja', 'siya', 'nilofer']
pooja
nilofer
['pooja', 'siya', 'nilofer']
nilu